<p>Nombre: @ViewBag.PaisBuscado.Nombre</p> <br>
<p>Poblacion: @ViewBag.PaisBuscado.Poblacion</p> <br>
<p>Atractivos Turisticos: @ViewBag.PaisBuscado.AtractivosTuristicos</p><br>
<p>Fecha de Independencia: @ViewBag.PaisBuscado.FechaIndependencia</p>
